.App {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/19/01/02/green-1337813_1280.jpg");
  height: 100vh;
}

#conversationBox {
  overflow-y: auto;
}

#conversation {
  overflow-y: auto;
}